*{
    margin: 0;
    /* background-color: black;  */

}

button{
    margin-top: 40px;
    margin-left:12%;
    width:240px;
    height:40px;
    color: rgb(1, 52, 52);
    background-color: rgb(242, 253, 249);
    font-size: 30px;
    align-items: center;
    
}

.Refresh{
    margin-left: 450px;
    margin-top: 60px;
}

img{
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-left: 550px;
}

.box{
    /* margin-top:50px; */
    width:100% ; 
    background-color: rgb(132, 132, 237);
    border-color: rgb(230, 231, 225);
    height:800px;
    
    align-items: center;
    margin-left: 10%;
}

.results{
    width: 450px;
    height: 80px;
    /* background-color: rgb(132, 132, 237); */
    margin-left:450px;
    /* margin-top: 10px; */
    border: 4px;
    font-style:italic;
    font-weight: bold;
    /* border-radius:25%; */
    font-size: 70px;
    text-align: center;
    padding-top: 50px;
}

@media(max-width:1349px){
    
}
