body {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.main {
  width: 60%;
  margin: auto;
  padding-top: 50px;
}
.again_between {
  display: flex;
  justify-content: space-between;
}
.again_between .again {
  height: 40px;
  width: 120px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 550;
  margin-top: 50px;
}
.again_between p {
  font-size: 20px;
}
.head h2 {
  font-size: 30px;
  padding-bottom: 30px;
}
.number {
  height: 50px;
  width: 60px;
  margin: auto;
  background-color: #fff;
  color: #000;
  font-size: 40px;
}

.result {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
.result .left {
  margin-top: 80px;
}
.result input {
  height: 60px;
  width: 160px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #000;
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.result button {
  margin-top: 20px;
  height: 40px;
  width: 100px;
  font-size: 19px;
  font-weight: 550;
}

.right h3 {
  font-size: 25px;
}
.score {
  font-size: 20px;
  padding-top: 20px;
}
.highscroe {
  font-size: 20px;
  padding-top: 10px;
}
